body {
  margin: 0;
  font-family: 'PF Din Text Universal';
  font-size: 1rem;
  font-weight: 300;
}
a:hover {
    text-decoration: none;
}
.table {
    margin-bottom: auto;
}

.card{
    /*box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.19);*/
}
.card-body {
    /*padding: 25px 75px 25px 75px;*/
    padding: 5px 12px 5px 12px;
}
.accordion > .card:last-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bg-light {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.19);

}
.navbar{
        /*margin-bottom: 20px;*/
}
.table-dark {
    color: #ffffff;
    background-color: #6c757d;
}
.navbar-style-text{
	font-family: 'PF Din Text Universal';
	color: #6b6b6b;
    margin-left: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 24px;
    text-decoration: none;
}
a.navbar-style-text:hover{
color: #6b6b6b;
    text-decoration: none;
/*  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.5rem;
  }*/
  ul {
padding:5px;
}
li {
display:inline;
border-left:1px solid #bbb;
padding:0 2px 0 4px;
}
li:first-child {
border:none;
}