@font-face {
    font-family: 'PF Din Text Universal';
    src: url('../font/PFDinTextUniversal-Hairline.eot');
    src: local('PF Din Text Universal Hairline'), local('PFDinTextUniversal-Hairline'),
        url('../font/PFDinTextUniversal-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../font/PFDinTextUniversal-Hairline.woff2') format('woff2'),
        url('../font/PFDinTextUniversal-Hairline.woff') format('woff'),
        url('../font/PFDinTextUniversal-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'PF Din Text Universal';
    src: url('../font/PFDinTextUniversal-Light.eot');
    src: local('PF Din Text Universal Light'), local('PFDinTextUniversal-Light'),
        url('../font/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/PFDinTextUniversal-Light.woff2') format('woff2'),
        url('../font/PFDinTextUniversal-Light.woff') format('woff'),
        url('../font/PFDinTextUniversal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PF Din Text Universal';
    src: url('../font/PFDinTextUniversal-Medium.eot');
    src: local('PF Din Text Universal Medium'), local('PFDinTextUniversal-Medium'),
        url('../font/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/PFDinTextUniversal-Medium.woff2') format('woff2'),
        url('../font/PFDinTextUniversal-Medium.woff') format('woff'),
        url('../font/PFDinTextUniversal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PF Din Text Universal';
    src: url('../font/PFDinTextUniversal.eot');
    src: local('PF Din Text Universal'), local('PFDinTextUniversal'),
        url('../font/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'),
        url('../font/PFDinTextUniversal.woff2') format('woff2'),
        url('../font/PFDinTextUniversal.woff') format('woff'),
        url('../font/PFDinTextUniversal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,
body {
  height: 100%;
}
body {
	margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    margin: auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 5px 20px 0px rgba(0,0,0,0.3)
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.custom-select{
position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.custom-select:focus {
    z-index: 2;
