  <!---------------------NavBar---------------------->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="navbar-brand ">
   				<img src="img/Rosseti_Logo.svg" width="45" height="45" alt="Система Контроля и Учета Заявок"><a href="index.php" class="navbar-style-text">СКУЗ</a>
			</div>
    		<ul class="navbar-nav mr-auto" style="flex-direction: row;>
      			<li class="nav-item " >
        			<a class="nav-link" href="/index.php">
        				<img src="img/file.png" class="d-inline-block width="30" height="30" alt="">Заявки
        			</a>
      			</li>
              <?php if ($_SESSION['user_id'] == "1" ){
                  echo '<li class="nav-item">
              <a class="nav-link" href="stat.php">
                <img src="img/file2.png" class="d-inline-block width="30" height="30" alt="">Статисктика</a>
            </li>
                  <li class="nav-item"><a class="nav-link" href="user.php" action="reg.php" method="post"><img src="img/file3.png" class="d-inline-block width="30" height="30" alt="">Пользователи</a></li>';
                }?>		
    		</ul>
  			<form class="form-inline my-2 my-lg-0" action="include/logout.php" method="post" >
     			<h5 style="font-family:'PF Din Text Universal';margin-right: 10px;font-weight: 300;margin-bottom: 0;"><?php echo $_SESSION['user_name']; ?></h5>
     		 	<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Выход</button>
    		</form>
	</nav>

